$mobile: 376px;
$header: hsl(300, 43%, 22%);
$verified: hsl(333, 80%, 67%);
$header-desc: hsl(303, 10%, 53%);
$box-header: hsl(300, 24%, 96%);
$box-text: hsl(0, 0%, 100%);
$w1: 400;
$w2: 500;
$w3: 700;
$font: "League Spartan", sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    height: 100vh;
    background-image: url(/3/image/bg-pattern-top-desktop.svg);
}
.top {
    width: 1000px;
    margin: 100px auto;
    display: flex;
    align-content: center;
}
.top-left, .top-right {
    flex: 50;
}
.top-right {
    margin-top: 20px;
    margin-left: 300px;
}




@media(max-width: $mobile){
    body {
        background-image: url(/3/image/bg-pattern-top-mobile.svg);
    }
}