$mobile: 376px;
$header: hsl(300, 43%, 22%);
$verified: hsla(334, 80%, 43%,);
$header-desc: hsl(303, 10%, 53%);
$star: hsl(300, 24%, 96%);
$box-text: hsl(0, 0%, 100%);
$w1: 400;
$w2: 500;
$w3: 700;
$font: "League Spartan", sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    font-family: $font;
    height: 100vh;
    background-image: url(/3/image/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}
.top, .bottom {
    width: 1200px;
    margin: 100px auto;
    display: flex;
}
.top-left, .top-right {
    flex: 50%;
}
.top-right {
    margin-top: 20px;
    margin-left: 300px;
}
.header-main {
    font-weight: $w3;
    font-size: 4.5rem;
    color: $header;
}
.header-text {
    font-size: 1.25rem;
    font-weight: $w2;
    margin-top: 20px;
    color: $header-desc;
}
.star {
    display: flex;
    width: 370px;
    margin-bottom: 15px;
    background-color: $star;
    padding: 15px 0 15px 15px;
    border-radius: 10px;
}
.stars {
    margin-right: 5px;
}
.star-text {
    color: $header;
    margin-left: 15px;
    font-weight: $w3;
    margin-top: 1px;
}
.first-star {
    margin-left: -100px;
}
.second-star {
    margin-left: -50px;
}

.box {
    width: 100%;
    background-color: $header;
    height: 200px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 30px 40px 20px 40px;
}
.box-image {
    width: 50px;
    border-radius: 25px;
}
.box-header, .box-desc {
    color: $box-text;
}
.box-top {
    display: flex;
}
.box__top--name {
    font-weight: $w2;
    font-size: 1.2rem;
    margin-top: 7px;
    margin-left: 20px;
}
.box-verify {
    margin-top: 2px;
    color: $verified;
}
.box-desc {
    margin-top: 20px;
}
.second-box {
    margin-top: 20px;
}
.third-box {
    margin-top: 40px;
}
@media(max-width: $mobile){
    body {
        background-image: url(/3/image/bg-pattern-top-mobile.svg);
        width: $mobile;
    }
    .top {
        margin-bottom: 30px;
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    .top-right {
        margin: auto;
        max-width: 100%;
    }
    .header-main {
        text-align: center;
        font-size: 3.0rem;
    }
    .header-text {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    .first-star, .second-star, .third-star {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        max-width: 100%;
        padding-right: 20px;
        margin-top: 10px;
    }
    .bottom {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .third-box, .second-box {
        margin-top: 10px;
    }
    .third-box {
        margin-bottom: 100px;
    }
}