// Colors
$header : hsl(300, 43%, 22%);
$verify: hsl(333, 80%, 67%);
$top-text: hsl(303, 10%, 53%);
$bg: hsl(0, 0%, 100%);
$rate-bg:  hsl(300, 24%, 96%);
// Font weights
$w1: 400;
$w2: 500;
$w3: 700;
// Font style
$font: "League Spartan", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rate, .top, .box {
    width: 90vw;
}
body {
    width: 100%;
    height: 100%;
    background-image: url(/Social-Proof-Section-Master/images/bg-pattern-top-mobile.svg);
    padding: 50px 30px 0 30px;
    font-family: $font;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header, .header-desc {
    margin-bottom: 25px;
}
.header {
    color: $header;
    font-weight: $w3;
    font-size: 2.5rem;
    line-height: 2rem;
}
.header-desc {
    color: $top-text;
    font-weight: $w2;
    font-size: 1.05rem;
}
.rate {
    margin: auto;
    min-width: 300px;
    max-width: 70vw;
    background-color: $rate-bg;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.rate-text {
    margin-top: 8px;
    color: $header;
    font-weight: $w3;
    font-size: 1.1rem;
}
.first-box {
    margin-top: 25px;
}
.box {
    min-width: 300px;
    max-width: 70vw;
    margin-bottom: 10px;
    background-color: $header;
    color: $rate-bg;
    border-radius: 10px;
    padding: 30px 25px;
    font-size: 1.11rem;
    text-align: start;
}
.box-top {
    display: flex;
    margin-bottom: 20px;
}
.box-img {
    width: 50px;
    border-radius: 25px;
}
.box-name {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
}
.box-header {
    font-weight: $w3;
}
.box-verify {
    padding-top: 5px;
    color: $verify;
}
.box-text {
    font-weight: $w1;
}
@media(min-width: 1000px) {
    body {
        background-image: url(/Social-Proof-Section-Master/images/bg-pattern-top-desktop.svg);
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .top-page {
        display: flex;
        width: 900px;
        margin-top: 100px;
        text-align: start;
    }
    .header {
        font-size: 3.5rem;
        line-height: 2.5rem;
        max-width: 400px;
    }
    .rate {
        display: flex;
      
        max-width: 400px;
        margin-left: 100px;
        padding: 8px 0 8px 30px;
    }
    .star {
        width: 15px;
        height: 15px;
        margin: 7px 3px 0 3px;
    }
    .rate-text {
        margin-left: 20px;
    }
    .box {
        margin: 0;
        margin-right: 20px;
    }
    .boxes {
        margin-top: 50px;
        display: flex;
        max-width: 950px;
        height: 300px;
    }
    .first-box {
        height: 80%;
    }
    .second-box {
        height: 80%;
        margin-top: 20px;
    }
    .third-box {
        height: 80%;
        margin-top: 40px;
    }
}