:root {
    --bg-color: hsl(30, 38%, 92%);
    --Montserrat: "wght" 500;
    --Fraunces: "wght" 700;
    --pricebutton: hsl(158, 36%, 37%);
    --header: hsl(212, 21%, 14%);
    --paragraph: hsl(228, 12%, 48%);
    --bg-text: hsl(0, 0%, 100%);
}



html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 8px;
}
body {
    background-color: var(--bg-color);
}
.container {
    display: flex;
    width: 300px;
    margin: 15% 25%;
}
.main_image {
    width: 150px;
    height: 200px;
    border-radius: 10px 0 0 10px;
}
.main_text {
    background-color: var(--bg-text);
    border-radius: 0 10px 10px 0;
    width: 150px;
    max-height: 200px;
}


/*
- Mobile: 375px
- Desktop: 1440px


### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
