$main-bg: hsl(233, 47%, 7%);
$stats-bg: hsl(244, 38%, 16%);
$word: hsl(277, 64%, 61%);
$headstats: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stats-name: hsla(0, 0%, 100%, 0.6);
$font1: "Inter", sans-serif;
$font2: "Lexend Deca", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    background-color: $main-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $headstats;
    font: $font1;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 85vw;
    margin: 50px auto;
    background-color: $stats-bg;
    border-radius: 10px;
}
.card-img-desktop {
    display: none;
}
.card-img {
    max-width: 100%;
    max-height: 100%;
    background-image: url(/Stats-preview/image/image-header-mobile.jpg);
    filter: sepia(40%) saturate(670%) hue-rotate(250deg) opacity(0.4);
    border-radius: 10px 10px 0 0;
}
.card-stats {
    padding: 20px 40px;
    text-align: center;
}
.header-word {
    color: $word;
}
.card-header {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15px;
}
.header-description {
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 400;
    color: $main-paragraph;
    margin-bottom: 30px;
}
.stats {
    display: flex;
    flex-direction: column;
    font-family: $font2;
    .stats-number {
        font-weight: 700;
        font-size: 1.7rem;
        color: $headstats;
        margin-bottom: 3px;
    }
    .stats-desc {
        font-size: 0.8rem;
        color: $stats-name;
        margin-bottom: 20px;
    }
}
@media(min-width: 700px) {
    .card {
        flex-direction: row-reverse;
        width: 70vw;
    }
    .card-img {
        display: none;
    }
    .card-img-desktop {
        display: block;
        max-width: 50%;
    }
}