:root {
   --Fraunces: "Fraunces", serif; /* 500, 700 */
   --Montesrerat: "Montserrat", sans-serif; /* 700 */
   --Pricebtn: hsl(158, 36%, 37%);
   --Body: hsl(30, 38%, 92%);
   --Header: hsl(212, 21%, 14%);
   --Paragraph: hsl(228, 12%, 48%);
   --bgtext: hsl(0, 0%, 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html  {
    background-color: var(--Body);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    background-color: var(--bgtext);
    border-radius: 10px;
}
.card__image--desktop, .card__image--mobile {
    width: 100%;
    height: 250px;
}
.card__image--desktop {
    display: none;
}
@media (min-width: 700px) {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 580px;
    }
    .card__image--desktop {
        width: 290px;
        display: block;
        border-radius: 10px 0 0 10px ;
    }
    .card__image--mobile {
        display: none;
    }
}