:root {
    --bg-color: hsl(30, 38%, 92%);
    --pricebutton: hsl(158, 36%, 37%);
    --header: hsl(212, 21%, 14%);
    --paragraph: hsl(228, 12%, 48%);
    --bg-text: hsl(0, 0%, 100%);
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    width: 580px;
    height: 420px;
}
.main-image {
    width: 290px;
    height: 420px;
    border-radius: 15px 0 0 15px;
}
.mobile-image {
    display: none;
}
.main-text {
    padding: 0 20px 0 30px;
    width: 290px;
    height: 420px;
    background-color: var(--bg-text);
    border-radius: 0 15px 15px 0;
}
.paragraph {
    color: var(--paragraph);
    font-family: "Montserrat" , "sans-serif";
}
.first {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 0.7rem;
    padding-top: 20px;
}
.header {
    margin: 0;
    font-size: 2.4rem;
    color: var(--header);
    font-family: "Fraunces","serif";
}
.price {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px;
}
.price-new {
    font-family: "Fraunces","serif";
    font-weight: 700;
    color: var(--pricebutton);
    font-size: 2rem;
}
.price-old {
    padding-top: 25px;
    text-decoration: line-through;
}
.card-button {
    display: flex;
    justify-content: center;
    margin: 5px 10px 0 0;
}
.add-button {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px transparent;
    border-radius: 5px;
    color: var(--bg-text);
    background-color: var(--pricebutton);
    padding: 12px 0;
    font-weight: 700;
}
.button-icon {
    margin-right: 10px;
}
@media(max-width: 376px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 94%;
        margin-bottom: 200px;
    }
    .main-image {
       display: none;
    }
    .card-photos {
        max-height: 250px;
    }
    .mobile-image {
        min-height: 250px;
        max-width: 340px;
        display: inline;
        border-radius: 15px 15px 0 0;
    }
    .main-text {
        border-radius: 0 0 15px 15px;
    }
    .card-button {
        margin-bottom: 20px;
    }  
}


