* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 10px;
  background-color: hsl(218, 23%, 16%);
}

main {
  position: relative;
  height: 100%;
  width: 90vw;
  max-width: 400px;
  background-color: hsl(217, 19%, 24%);
  margin: -150px auto;
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
}

.advice-number {
  font-size: 0.6rem;
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
}

.advice-text {
  font-size: 1.4rem;
  color: hsl(193, 38%, 86%);
  margin-bottom: 1.5rem;
}

.divider {
  width: 270px;
  margin-bottom: 1.5rem;
}

.dice-circle {
  position: absolute;
  right: 40%;
  width: 55px;
  height: 55px;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
}

@media (min-width: 500px) {
  main {
    margin: 0;
  }
}