:root {
    --body-backround: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --card-word: hsl(277, 64%, 61%);
    --header: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stats-header: hsla(0, 0%, 100%, 0.6);
    --font1: "Inter", sans-serif;
    --font2: "Lexend Deca", sans-serif;
    --w1: 400;
    --w2: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html p{
    font-size: 15px;
}
body {
    height: 100vh;
    background-color: var(--body-backround);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--card-background);
    width: 1000px;
    height: 350px;
    display: flex;
    border-radius: 10px;
}
.card-image {
    height: 350px;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 376px) {

}