:root {
    --body-backround: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --card-image: hsl(277, 64%, 61%);
    --header: hsl(0, 0%, 100%);
    --stats-name: hsla(0, 0%, 100%, 0.75);
    --main-paragraph: hsla(0, 0%, 100%, 0.6);
    --font1: "Inter", sans-serif;
    --font2: "Lexend Deca", sans-serif;
    --w1: 400;
    --w2: 700;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body {
    height: 100vh;
    background-color: var(--body-backround);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--card-background);
    max-width: 80rem;
    max-height: 35rem;
    display: flex;
    border-radius: 10px;
}
.left-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: var(--header);
}
.card-header {
    font-size: 2.2rem;
    font-family: var(--font1);
    font-weight: var(--w2);
    margin-bottom: 30px;
}
.card-paragraph {
    color:var(--main-paragraph);
    font-family: var(--font1);
    margin-bottom: 5rem;
}
.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-results {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.result-number {
    font-size: 1.5rem;
    font-family: var(--font1);
    font-weight: var(--w2);
    margin-bottom: 5px;
}
.result-name {
    font-family: var(--font2);
    font-size: 0.7rem;
  color: var(--main-paragraph);
}
.word-color {
    color: var(--card-image);
}
.right-card {
    background-color: var(--card-image);
    max-height: 30rem;
    width: 100%;
    border-radius: 0 10px 10px 0;
}
.card-image {
    background-color: var(--card-background);
    mix-blend-mode: multiply;
    opacity: 0.8;
    height: 100%;
    width: 50rem;
    max-width: 100%;
    border-radius: 0 10px 10px 0;
}
.mobile-image {
    display:none;
}
@media (max-width: 1026px) {
    .card {
        max-width: 90%;
    }
    .card-header {
        font-size: 1.5rem;
    }
}
@media(max-width: 768px) {
    .desktop-image {
      width: 35rem;
      height: 100%;
    }
}
@media (max-width: 426px) {
    body {
        margin-top: 20rem;
    }
    .card {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-radius: 0 0 10px 10px;
    }
    .left-card {
        margin-top: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .card-header {
        text-align: center;
        font-size: 1.5rem;
    }
    .card-paragraph {
        text-align: center;
        font-size: 1rem;
    }
    .right-card {
        border-radius: 10px 10px 0 0;
    }
    .card-results {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .mobile-image {
        display: block;
        max-width: 100%;
        border-radius: 10px 10px 0 0;

    }
    .desktop-image {
        display: none;
    }
}
