:root {
    --body-backround: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --card-image: hsl(307, 64%, 27%);
    --header: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stats-header: hsla(0, 0%, 100%, 0.6);
    --font1: "Inter", sans-serif;
    --font2: "Lexend Deca", sans-serif;
    --w1: 400;
    --w2: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html p{
    font-size: 15px;
}
body {
    height: 100vh;
    background-color: var(--body-backround);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--card-background);
    width: 1000px;
    height: 350px;
    display: flex;
    border-radius: 10px;
}
.word-color {
    color: var(--card-image);
}
.right-card {
    background-color: var(--card-image);
    height: 350px;
    border-radius: 0 10px 10px 0;
    position: relative;
}
.card-image {
    height: 100%;
    border-radius: 0 10px 10px 0;
}
.right-card:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--card-image);
    filter: opacity(20%);
  }

@media (max-width: 376px) {

}
